@import "../../styless/variables";

.msr{
    width: 70vw;
    padding: 10px;
    background: $secondary-color;

    & .msr-result{
        background: $results-color;

        & .res-item{
            display: flex;
        }
    }
} 