@import "../../styless/variables";

.header {
  position: fixed;
  height: 10vh;
  width: 100vw;
  background: $primary-color;
  z-index: 10;

  & .header-main {
    display: flex;
    justify-content: center;
    align-items: center;

    & .title {
      cursor: pointer;
      font-size: 50px;
      margin: 5px 0;
      font-weight: bold;
      background: inherit;
    }

    & .toolbar {
      display: flex;
      position: absolute;
      right: 30px;
      background: $primary-color;

      & > * {
        margin: 0 10px;
        background: inherit;
      }
    }
  }
}
