@import "../../styless/variables";

.header {
  position: fixed;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary-color;
  z-index: 1;

  & .title {
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    background: inherit;
  }

  & .toolbar {
    display: flex;
    position: absolute;
    right: 10px;
    background: $primary-color;

    & > * {
      margin: 0 10px;
      background: inherit;
    }
  }
}
